{{#if isOpen}}
  {{#if node}}
    <button {{action 'close'}}>-</button> {{node.name}}
  {{/if}}
  {{#each children as |child|}}
    {{yield child node}}
  {{/each}}
{{else}}
  <button {{action 'open'}}>+</button> {{node.name}}
{{/if}}
